.floating-btn {
    position: fixed;
    top: 25%;
    right: 0px;
    padding: 10px 15px;
    background-color: #03838A;
    color: #fff;
    border: none;
    border-radius: 25px 0px 0px 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap:8px;
}

.floating-btn:hover {
    background-color: #ff6600;
}

.icono-boton-flotante{
    font-size: 32px;
}

.texto-boton-flotante{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing:0.1;
}